.container-home{
    background-image: url('/assets/img/home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

    .btn{
        color:black;
        background-color:rgb(171, 211, 246);
        position: relative;
        top :25px
    }
    a:hover{
        color: rgb(76, 240, 35);
        text-align: right;
       text-align: right;
        top: 20px;
    }