



<div class="container">
    <nav class="navbar bg-primary" data-bs-theme="dark">
            <div class="container-fluid">
              <a class="navbar-brand"><marquee behavior="left" direction="50"><b><u>Hotel Booking.Com</u></b> <b class="bi bi-buildings"></b></marquee></a>
              <form class="d-flex" role="search">
                <button (click)=admin() class="btn"><b><u>Admin</u></b></button>&nbsp;
                <button (click)=owner() class="btn"><b><u>Owner</u></b></button>&nbsp;
                <button (click)=user() class="btn"><b><u>User</u></b></button> &nbsp;
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </nav><br><br><br><br>
<div class="responsive">
  <div class="gallery">
    <a target="_blank" >
      <img src="/assets/img/mumbai2.jpg" alt="Cinque Terre" width="450" height="150"><br>
     </a>
    <div class="desc"><b><u>Mumbai</u></b></div>
  </div>
</div>
<div class="responsive">
  <div class="gallery">
    <a target="_blank">
      <img src="/assets/img/goa2.jpg" alt="Forest" width="450" height="150"><br>
    </a><br>
    <div class="desc"><b><u>Goa</u></b></div>
  </div>
</div>
<div class="responsive">
  <div class="gallery">
    <a target="_blank" >
      <img src="/assets/img/820435-delhi-wallpaper-top-free-delhi-background00.jpg" alt="Northern Lights" width="450" height="150"><br>
    </a><br>
    <div class="desc"><b><u>Delhi</u></b></div>
  </div>
</div>







