
.container{
 background-image: url('/assets/img/front page image.jpg');
    height: 100%;
    background-size: cover;
background-repeat: no-repeat;
}
.btn{
    color:black;
    background-color: rgb(135, 210, 236);
    position: relative;
    top :25px
}