
.container{
background-image: url("/assets/img/wallpaperflare.com_wallpaper (7).jpg");
height: 100%;
background-repeat: no-repeat;
background-size: cover;
}
.btn{
    color:black;
    background-color: rgb(171, 211, 246);
    position: relative;

}
.mat-toolbar{
    background-color: rgb(157, 186, 239);
    color: white;
    height:100 ;
    width: 300;
  }
  .mat-button{
     color: rgb(189, 179, 179);
  }
.font{
  font-size: 100px;
  text-align: center;
  font-style: italic;
  color: whitesmoke;
  
}
.font1{
  color: whitesmoke;
}
.button{
  color:rgb(92, 46, 245);
  font-size: large;
}