



<div class="container">
  <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
            <div class="container-fluid">
              <a class="navbar-brand"><marquee behavior="left" direction="50"><b><u>Hotel Booking.Com</u></b> <b class="bi bi-buildings"></b></marquee></a>
              <form class="d-flex" role="search">
                <button (click)=admin() class="btn"><b><u>Admin</u></b></button>&nbsp;
                <button (click)=owner() class="btn"><b><u>Owner</u></b></button>&nbsp;
                <button (click)=user() class="btn"><b><u>User</u></b></button> &nbsp;
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </nav><br><br>
        
         
              <header>
                <h1 class="font1">Welcome to Amazing Hotel!</h1>
                <p class="font1"> Discover the perfect destination for your next vacation</p>
              </header>
          
              <section class="font1">
                <h2>Explore Our Amenities</h2>
                <div class="amenities">
                  <div class="amenity">
                    <i class="fas fa-swimming-pool"></i>
                    <h3>Swimming Pool</h3>
                    <p>Dive into our refreshing pool and relax under the sun</p>
                  </div>
                  <div class="amenity">
                    <i class="fas fa-utensils"></i>
                    <h3>Restaurant</h3>
                    <p>Indulge in exquisite dining experience at our restaurant</p>
                  </div>
                  <div class="amenity">
                    <i class="fas fa-wifi"></i>
                    <h3 class="font1">Free Wi-Fi</h3>
                    <p>Stay connected with high-speed internet throughout the hotel</p>
                  </div>
                </div>
              </section>
          
              <section>
                <h2 class="font1">Book Your Stay</h2>
                <h3 class="font1">Plan your dream vacation now and experience luxury like never before!</h3>
                <button class="btn">Book Now !!!</button>
              </section>
        
              <footer>
                <p class="font1">&copy; 2023 Amazing Hotel. All rights reserved.</p>
              </footer>




