.ownerlogin{
background-image: url('/assets/img/wallpaperflare.com_wallpaper (7).jpg');
background-repeat: no-repeat;
background-size: cover;
height: 100%;
}

  .login-img{
    background-image: url('/assets/img/pexels-kelly-2869215.jpg');
  height: 90%;
  width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .example-full-width {
    width: 55%;
  }
  .login{
  text-align: center;
    margin-right: 40px;
  }
  .font{
  font-style: italic;
  font-size: 25px;
  color: rgb(193, 49, 49);

size: 2px;
  }
  .err{
    color: red;
    font-size: small;
  }