.head{
    background-color: aqua;
    font-size: 150%;
   text-align: right;
   size: 20px;
    
}
.ownersignup{
    background-image: url('/assets/img/frames-for-your-heart-FqqiAvJejto-unsplash.jpg');
    height:100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.example-full-width {
    width: 25%;
  
  }
  .signup{
    margin-top: 10px;
  }
  .mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 16px;
    font-size: larger;
}