.head{

   font-size: large;
  size: 50px;

  color: rgb(11, 11, 12);
}
.ownersignup{
    background-image: url('/assets/img/frames-for-your-heart-FqqiAvJejto-unsplash.jpg');
    height:60%;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.example-full-width {
    width: 40%;
  
  }
  .signup{
  position: relative;
  font-size: large;
  }
  .mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 16px;
    font-size: larger;
}
.example-card {
  max-width: 1000px;
}
.bg-img{
  background-image: url('/assets/img/ownerlogin.jpg');
  height: 100%;
}